.u-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#contentSettings{
    width: 100%;
    display: flex;
    flex-direction: row;
}
#contentLevel{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding-left: 15px;
}
#contentBtn{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    padding-bottom: 30px;
}
#contentBtn h3{
    width: 100%;
    text-align: center;
}